<%@page_title = "Community Listings..."%>
<div class="pages">
<h2>What is the Community section all about?</h2>
<p>The community section of the site is designed to allow people looking for others to help them out with a project.</p>
<p>We'd expect the "jobs" advertised in Community would not pay anything (or very little) and would be more "for fun" or to alleviate boredom rather than a full time position.</p>

</div>

<%content_for :right do%>
  <%=render :partial => "jobs/right"%>
<%end%>