<%@page_title = "Free Listings..."%>
<div class="pages">
<h2>There are currently no special offers...</h2>
<p>Please call again soon.</p>

</div>

<%content_for :right do%>
  <%=render :partial => "jobs/right"%>
<%end%>